.rec-arrow {
  display: none;
}
.each-slide .slide-img-item {
  height: 40rem;
  background-size: cover;
  background-position: center;
}

.banner-page {
  height: 32rem;
  background-size: cover;
  background-position: bottom;
}
